<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TSS_DESIGN_PAD_WIDTH</key>
	<integer>810</integer>
	<key>TSS_DESIGN_PHONE_WIDTH</key>
	<integer>428</integer>
</dict>
</plist>
